# ===============================
# Flutter
# ===============================
.dart_tool/
.packages
.pub/
build/

# Flutter plugins
.flutter-plugins
.flutter-plugins-dependencies

# Generated
generated_plugin_registrant.dart

# ===============================
# IDE
# ===============================
.idea/
.vscode/

# ===============================
# Android
# ===============================
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/

# ===============================
# iOS
# ===============================
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/

# ===============================
# macOS
# ===============================
macos/Pods/

# ===============================
# Linux
# ===============================
linux/flutter/ephemeral/

# ===============================
# Windows
# ===============================
windows/flutter/ephemeral/

# ===============================
# Web
# ===============================
web/flutter_service_worker.js

# ===============================
# Misc
# ===============================
*.log
*.tmp
*.lock

.DS_Store
Thumbs.db